html {
  font-size: 23.45px;
}

.topbox {
  width: 100%;
  position: relative;
}
.sortMenu {
  width: 100%;
  height: 1.75rem;
  background-color: #fff;
  overflow-x: scroll;
  -webkit-overflow-x: scroll;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.sortMenu-ul {
  /* min-width: 500px; */
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: flex-start;
}
.sortMenu .cell {
  display: block;
  width: auto;
  font-size: 0.65rem;
  line-height: 1.75rem;
  padding: 0px 0.3rem;
  /* padding: 0px 30px; */
  text-align: center;
  position: relative;
  text-overflow: ellipsis;
  word-break: keep-all;
  box-sizing: border-box;
}
.topbox .sortMenu .active a {
  color: #ff6000;
  font-size: 0.8rem;
}

.sortMenu .cell a {
  color: #666666;
}
a {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.clearfix:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.topbox .all {
  cursor: pointer;
  width: 2.25rem;
  height: 1.75rem;
  text-align: center;
  line-height: 1.75rem;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
}

.topbox .show {
  cursor: pointer;
}
.topbox .all img {
  width: 0.75rem;
  height: 0.75rem;
}
.pull-down {
  width: 100%;
  min-height: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.pull-down .pull-p {
  position: relative;
  width: 100%;
  height: 1.5rem;
  font-size: 0.65rem;
  color: #000;
  padding: 0 0.45rem;
  box-sizing: border-box;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.pull-down-sort {
  padding: 0 0.45rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}
.pull-down-sort .gnw {
  border: none;
  background: white;
}

.pull-down-sort .cell {
  display: inline-block;
  font-size: 0.65rem;
  padding: 0.35rem 1rem;
  text-align: center;
  background: #f6f6f6;
  border: 0.025rem solid #c9c9c9;
  margin-bottom: 0.625rem;
  border-radius: 1rem;
  width: 2.6rem;
}
.pull-down-sort .cell a {
  color: #666666;
}
.pull-down-sort {
  padding: 0 0.45rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}
.pull-down-sort .gnw {
  border: none;
  background: white;
}

.pull-down-sort .cell {
  display: inline-block;
  font-size: 0.65rem;
  padding: 0.35rem 1rem;
  text-align: center;
  background: #f6f6f6;
  border: 0.025rem solid #c9c9c9;
  margin-bottom: 0.625rem;
  border-radius: 1rem;
  width: 2.6rem;
}
.pull-down-sort .cell a {
  color: #666666;
}
/* .sortMenu-ul li {
  float: left;
  list-style: none;
  padding: 0px 0.3rem;
} */
* {
  margin: 0;
  padding: 0;
}
